/* anek-bangla-medium */
@font-face {
	font-family: "Anek Bangla";
	font-style: normal;
	font-weight: 75% 125%;
	font-stretch: 100%;
	src: local("Anek Bangla Medium"), local("AnekBangla-Medium"), url(anek-bangla-medium.woff2) format("woff2");
	font-display: swap;
}

