:root {
    --bangla-font: "Potro Sans Bangla";
}

@font-face {
	  font-family: "Jannat";
	  font-style: normal;
	  font-weight: 400;
	  font-stretch: 100%;
	  src: local("Jannat"), url("/fonts/jannat.woff2") format("woff2");
	  font-display: swap;
    size-adjust: 125%;
}

@font-face {
	  font-family: "Electrolize";
	  font-style: normal;
	  font-weight: 400;
	  font-stretch: 100%;
	  src: local("Electrolize"), local("Electrolize-Regular"), url("/fonts/electrolize.woff2") format("woff2");
	  font-display: swap;
    /* size-adjust: 115%; */
}


@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrains Mono Light"),
        url("/fonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrainsMono-Regular"),
        local("JetBrains Mono Regular"),
        url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrains Mono Medium"),
        url("/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrains Mono SemiBold"),
        url("/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* potro-sans-bangla-bold */
@font-face {
    font-family: Potro Sans Bangla;
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    size-adjust: 115%;
    src:
        local("Potro Sans Bangla Bold"),
        local("PotroSansBangla-Bold"),
        url("/fonts/potro-sans/potro-sans-bangla-bold.woff2") format("woff2");
    font-display: swap;
}
/* potro-sans-bangla-medium */
@font-face {
    font-family: Potro Sans Bangla;
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    size-adjust: 115%;
    src:
        local("Potro Sans Bangla Medium"),
        local("PotroSansBangla-Medium"),
        url("/fonts/potro-sans/potro-sans-bangla-medium.woff2") format("woff2");
    font-display: swap;
}
/* potro-sans-bangla */
@font-face {
    font-family: Potro Sans Bangla;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    size-adjust: 115%;
    src:
        local("Potro Sans Bangla Regular"),
        local("PotroSansBangla-Regular"),
        url("/fonts/potro-sans/potro-sans-bangla.woff2") format("woff2");
    font-display: swap;
}
/* potro-sans-bangla-semibold */
@font-face {
    font-family: Potro Sans Bangla;
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    size-adjust: 115%;
    src:
        local("Potro Sans Bangla SemiBold"),
        local("PotroSansBangla-SemiBold"),
        url("/fonts/potro-sans/potro-sans-bangla-semibold.woff2") format("woff2");
    font-display: swap;
}

/* @font-face { */
/*   font-family: Kalpurush; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   font-stretch: 100%; */
/*   size-adjust: 112.5%; */
/*   src: */
/*     local("Kalpurush"), */
/*     url("/fonts/kalpurush.woff2") format("woff2"); */
/*   font-display: swap; */
/* } */
/**/

/* @font-face { */
/* 	font-family: Bornomala; */
/* 	font-style: normal; */
/* 	font-weight: 400; */
/* 	font-stretch: 100%; */
/*   size-adjust: 112.5%; */
/* 	src: url("/fonts/bornomala/bornomala.woff2") format("woff2"); */
/* 	font-display: swap; */
/* } */
/**/
/* @font-face { */
/* 	font-family: Bornomala; */
/* 	font-style: normal; */
/* 	font-weight: 700; */
/* 	font-stretch: 100%; */
/*   size-adjust: 112.5%; */
/* 	src: local("Bornomala Bold"), local("Bornomala-Bold"), url("/fonts/bornomala/bornomala-bold.woff2") format("woff2"); */
/* 	font-display: swap; */
/* } */

/* From https://github.com/withstudiocms/ui */

*,
*::before,
*::after {
    box-sizing: border-box !important;
}

html {
    color-scheme: dark;
    background-color: #0b0b0b;
}

html,
body {
    margin: 0;
}

/* html[lang="bn"] { */
/*   font-family: Kalpurush; */
/* font-size: 18px; */
/* } */
/**/
/* html[lang="en"] { */
/*   font-family: "JetBrains Mono", var(--bangla-font); */
/* } */

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Electrolize", var(--bangla-font);
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: anywhere;
    font-family: "Electrolize";
}

code {
    overflow-wrap: anywhere;
    font-family: "JetBrains Mono";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: pretty;
}

button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

pre,
pre *,
.code {
    font-family: "JetBrains Mono", var(--bangla-font);
    line-height: 1;
}

pre {
    border: 1px solid rgb(#353535);
    overflow-y: hidden;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

pre.astro-code code {
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
    gap: 0.5rem;
}
