---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={"404"} description={t("error.description")} pagefindIgnore>
  <div class="notfound-container" slot="normal">
    <h1 class="text-glow">404</h1>
    <!-- <p>{t("error.description")}</p>
         <a class="block-link" href="/">← {t("error.back")}</a> -->
    <p>This page could not be found</p>
    <a class="block-link" href="/en">← Back to the homepage</a>
  </div>
</Layout>
<!-- <script> -->
<!-- const date = new Date("August 19, 1975 23:15:30 GMT+11:00"); -->
<!-- const tz = date.getTimezoneOffset();  -->
<!-- if tz === -360 { -->
<!---->
<!-- } -->
<!-- </script> -->
<style>
  .notfound-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .notfound-container h1 {
    font-size: 4rem;
    margin: 0;
  }

  .notfound-container p {
    font-size: 1.25em;
  }

  .block-link {
    margin-top: 1rem;
  }
</style>
