---
// import Redirect from "/src/layouts"
// return Astro.redirect("/bn")
---

<!doctype html>
<html>
  <title>Redirecting to: /bn</title>
  <meta http-equiv="refresh" content="0;url=/bn" />
  <meta name="robots" content="noindex" />
  <link rel="canonical" href="https://blog.khalidrafi.me/bn" />
</html>
