---
// import Redirect from "/src/layouts"
// return Astro.redirect("/bn")
---

<!doctype html>
<html>
  <title>খালিদের শেল</title>
  <meta name="og:image" content="/img/og.png" />
  <meta http-equiv="refresh" content="0;url=/bn" />
  <meta charset="utf-8" />
  <meta name="robots" content="noindex" />
  <link rel="canonical" href="https://blog.khalidrafi.me/bn" />
</html>
