/* potro-sans-bangla-bold */
@font-face {
	font-family: Potro Sans Bangla;
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
  size-adjust: 112.5%;
	src: local("Potro Sans Bangla Bold"), local("PotroSansBangla-Bold"), url(potro-sans-bangla-bold.woff2) format("woff2");
	font-display: swap;
}
/* potro-sans-bangla-medium */
@font-face {
	font-family: Potro Sans Bangla;
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
  size-adjust: 112.5%;
	src: local("Potro Sans Bangla Medium"), local("PotroSansBangla-Medium"), url(potro-sans-bangla-medium.woff2) format("woff2");
	font-display: swap;
}
/* potro-sans-bangla */
@font-face {
	font-family: Potro Sans Bangla;
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
  size-adjust: 112.5%;
	src: local("Potro Sans Bangla Regular"), local("PotroSansBangla-Regular"), url(potro-sans-bangla.woff2) format("woff2");
	font-display: swap;
}
/* potro-sans-bangla-semibold */
@font-face {
	font-family: Potro Sans Bangla;
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
  size-adjust: 112.5%;
	src: local("Potro Sans Bangla SemiBold"), local("PotroSansBangla-SemiBold"), url(potro-sans-bangla-semibold.woff2) format("woff2");
	font-display: swap;
}

