---
import "../../styles/index.css";

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import Icon from "../../components/Icon.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import { name, openGraph } from "spectre:globals";

const [about, quickInfo] = await Promise.all([
  getEntry("other", "bn/about"),
  getCollection("quickInfo"),
]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: About } = await render(about!);
---

<Layout
  title="আমার সম্পর্কে"
  description="খালিদের শেলের লেখক সম্পর্কে জানুন।"
  pagefindIgnore
>
  <div slot="normal">
    <Card>
      <div class="header-container">
        <Icon
          type="lucide"
          name="user"
          width={24}
          height={24}
          class="glow-icon"
        />
        <h2>আমার সম্পর্কে</h2>
      </div>
      <div class="prose">
        <About />
      </div>
    </Card>
  </div>
</Layout>
