---
import "../../styles/index.css";

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import Icon from "../../components/Icon.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import { openGraph } from "spectre:globals";

const [services, quickInfo] = await Promise.all([
  getEntry("other", "bn/services"),
  getCollection("quickInfo"),
]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: Services } = await render(services!);
---

<Layout
  title={openGraph.bn.services.title || "সার্ভিস"}
  description={openGraph.bn.services.description}
  pagefindIgnore
>
    <Card slot="normal">
      <div class="header-container">
        <Icon
          type="lucide"
          name="cog"
          width={24}
          height={24}
          class="glow-icon"
        />
        <h2>সার্ভিস</h2>
      </div>
      <div class="prose">
        <Services />
      </div>
    </Card>
</Layout>
