/* hind-siliguri */
@font-face {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Hind Siliguri Regular"), local("HindSiliguri-Regular"), url(hind-siliguri.woff2) format("woff2");
	font-display: swap;
}

